html {
    font-family: sans-serif;
  }
  
  div {
    /* Assigning sizing and position */
    width: 200px;
    margin: auto;
    line-height: 9;
    /* Text Size */
    font-size: 1.1rem;
    text-align: center;
    color: white;
    /* Text Shadow color*/
    text-shadow: 1px 1px 1px black;}